html, body {
  margin: auto;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 100vh;
}

.overflow-h {
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 80px;
  margin: 0 auto;
}

.header-wrapper__logo--bg {
  height: 20px;
}

.header {
  width: 100%;
  position: fixed;
  height: 100px;
  transition: background 0.6s cubic-bezier(0.87, 0, 0.13, 1) 0s;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.7);
}
.header .header-wrapper__logo--bg {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  display: block;
  background-image: url("../img/logo-gray.svg");
}
.header:hover {
  background-color: #18275D;
}
.header:hover .header-wrapper__logo--bg {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  display: block;
  background-image: url("../img/logo.svg");
}
.header:hover .menu-desktop__link {
  color: #fff;
}
.header .container {
  height: 100%;
}
.header.header-bg, .header.header-ous {
  background-color: #18275D;
}
.header.header-bg .header-wrapper__logo--bg, .header.header-ous .header-wrapper__logo--bg {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  display: block;
  background-image: url("../img/logo.svg");
}
.header.header-bg .menu-desktop__link, .header.header-ous .menu-desktop__link {
  color: #fff;
}

.footer {
  width: 100%;
  background-color: #2d3741;
  z-index: 10;
}

.footer-copyright {
  text-align: center;
  color: white;
  background-color: #18275D;
  padding: 17px 14px;
  font-size: 13px;
  font-weight: 300;
}

.header-wrapper {
  padding: 20px 0;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-wrapper__logo {
  width: 265px;
  flex: 0 0 auto;
}
.header-wrapper__logo img {
  width: 100%;
}
.header-wrapper__logo--bg {
  width: 100%;
  background-image: url("../img/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.footer-wrapper {
  padding: 80px 0;
  position: relative;
  height: 100%;
}
.footer-wrapper__logo {
  width: 265px;
  margin-bottom: 150px;
}
.footer-wrapper__logo img {
  width: 100%;
}

.footer-wrapper__content {
  display: flex;
}

.footer-wrapper__content--left {
  width: 50%;
}

.footer-wrapper__content--right {
  width: 50%;
  position: relative;
}

.footer-wrapper__content--social-network {
  position: absolute;
  left: 0;
  top: -50px;
  display: flex;
}
.footer-wrapper__content--social-network .facebook, .footer-wrapper__content--social-network .youtube, .footer-wrapper__content--social-network .linkedin {
  width: 30px;
  height: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
}
.footer-wrapper__content--social-network .facebook {
  background-image: url("../img/facebook.svg");
}
.footer-wrapper__content--social-network .youtube {
  background-image: url("../img/youtube.svg");
}
.footer-wrapper__content--social-network .linkedin {
  background-image: url("../img/linkedin.svg");
}

.footer-wrapper__content--title {
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-bottom: 16px;
}

.footer-wrapper__content--text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
}
.footer-wrapper__content--text a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.footer-wrapper__menu {
  display: flex;
  flex-flow: column;
}

.footer-wrapper__menu--link {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 0;
  text-decoration: none;
}
.footer-wrapper__menu--link:hover {
  text-decoration: underline;
}

.main {
  height: 100%;
  flex: 1;
}

.main-m-t {
  margin-top: 100px;
}

.header-wrapper__menu {
  margin: 0 auto;
}

.menu-desktop {
  display: flex;
}

.menu-desktop__list {
  margin-inline-end: 26px;
  position: relative;
  display: flex;
}
.menu-desktop__list:last-child {
  margin-inline-end: 0;
}
.menu-desktop__list:hover .menu-desktop__content {
  display: block;
}

.menu-desktop__link {
  color: black;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  padding: 14px 0;
  overflow: hidden;
  cursor: pointer;
}
.menu-desktop__link:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 100%;
  -webkit-transition: background 0.3s ease, -webkit-transform 0.3s ease;
  transition: background 0.3s ease, transform 0.3s ease;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
.menu-desktop__link:hover:after {
  background: #fff;
  transform: translateY(-10px);
}
.menu-desktop__link.active:after {
  background: #fff;
  transform: translateY(-10px);
}

.menu-desktop__content {
  display: none;
  position: absolute;
  padding: 10px 0;
  left: 0;
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #2d3741;
  border-radius: 8px;
}

.menu-desktop__content--link {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  padding: 14px 10px;
  display: block;
  border-bottom: 1px solid #909090;
}
.menu-desktop__content--link:last-child {
  border-bottom: none;
}
.menu-desktop__content--link:hover {
  color: #c2c0c0;
}

.menu-mobile-btn {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.menu-open {
  background-image: url("../img/menu.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: block;
}

.menu-close {
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
}

.btn-menu {
  position: relative;
  width: 24px;
  height: 18px;
  cursor: pointer;
}

.btn-menu::after, .btn-menu::before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 2px;
  left: 0;
  transition: 0.3s ease;
}

.btn-menu::before {
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.btn-menu::after {
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.btn-menu span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 100%;
  height: 2px;
  transition: 0.3s ease;
}

.btn-menu.active span {
  display: none;
}

.btn-menu.active::after, .btn-menu.active::before {
  bottom: auto;
  top: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.btn-menu.active::after {
  transform: translateX(-50%) rotate(-45deg);
}

.menu-mobile {
  position: fixed;
  width: 100%;
  top: 56px;
  height: calc(100% - 56px);
  background-color: #18275D;
  border-top: 1px solid #fff;
  transition: 0.3s ease;
  right: 0;
  transform: translateX(100%);
  z-index: 10;
}
.menu-mobile--open {
  transform: translateX(0%);
}

.menu-mobile__list {
  border-bottom: 1px solid #909090;
}
.menu-mobile__list:last-child {
  border-bottom: none;
}

.menu-mobile__link {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  padding: 14px 10px;
  display: block;
}

.menu-mobile__list-item {
  padding-inline-start: 20px;
  padding-bottom: 10px;
}
.menu-mobile__list-item li {
  border-bottom: 1px solid #909090;
}
.menu-mobile__list-item li:last-child {
  border-bottom: none;
}

.menu-mobile__list-link {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  padding: 14px 10px;
  display: block;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

.page-title__title {
  font-size: 34px;
  font-weight: 500;
  color: #05569D;
}

.page-title__line {
  display: flex;
  width: 100%;
  padding-inline-start: 18px;
}
.page-title__line span {
  width: 100%;
  height: 1px;
  background-color: #05569D;
}

.contacts-block {
  position: relative;
  width: 100%;
  margin-bottom: 115px;
}

.contacts-block__img {
  width: 65%;
}
.contacts-block__img img {
  width: 100%;
}

.contacts-block__content {
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(238, 238, 238, 0.9);
  padding: 40px;
  width: 50%;
}

.contacts-block__content--title {
  font-weight: 400;
  font-size: 40px;
  color: #2DAFE5;
  margin-bottom: 30px;
}

.contacts-block__content--text {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
  color: #494949;
  margin-bottom: 30px;
}

.contacts-block__content--info {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
  color: #2DAFE5;
}

.contacts-block__tel a, .contacts-block__mail a {
  text-decoration: none;
  color: #2DAFE5;
}

.contacts-map {
  width: 100%;
  margin: 0 auto -4px;
}
.contacts-map img {
  width: 100%;
}

.main-unit {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.main-unit .container {
  position: relative;
  height: 100%;
}

.main-unit__bg {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg-parallax.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  position: absolute;
  left: 0;
  top: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: column;
  color: white;
  padding-top: 19%;
  padding-bottom: 8%;
}

.swiper-slide__title {
  font-size: 80px;
  font-weight: 300;
  margin-bottom: 100px;
}

.swiper-slide__des {
  font-size: 35px;
  font-weight: 300;
  display: flex;
}
.swiper-slide__des span {
  background-image: url("../img/logo-slider.svg");
  background-size: cover;
  width: 39px;
  height: 30px;
  display: inline-block;
  margin-right: 15px;
  flex: 0 0 auto;
}

.main-about-us {
  padding: 110px 0 60px;
}
.main-about-us h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 20px;
}

.main-about-us__wrapper {
  display: flex;
  flex-flow: column;
}

.main-about-us__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 55px;
  color: #2DAFE5;
}

.main-about-us__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: -35px;
}

.main-about-us__content--img {
  width: 60%;
}

.main-about-us__wrapper--img {
  width: 50%;
  padding: 0 30px;
}

.main-about-us__wrapper--content {
  width: 50%;
  padding: 0 20px;
}
.main-about-us__wrapper--content h2 {
  font-size: 48px;
  font-weight: 300;
  color: #2DAFE5;
  text-transform: initial;
  margin-bottom: 50px;
  padding: 0;
}

.main-about-us__desc-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  line-height: 1.4;
}

.main-about-us__desc-content {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 60px;
}

.main-about-us__link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}
.main-about-us__link:hover .main-about-us__link--icon > span {
  transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.main-about-us__link:hover .main-about-us__link--icon > span:first-child {
  transform: translateX(0);
}
.main-about-us__link:hover .main-about-us__link--icon > span:last-child {
  transform: translateX(100%);
}

.main-about-us__a {
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
  color: #2DAFE5;
  display: inline-block;
  margin-top: 100px;
}
.main-about-us__a:hover {
  color: #05569D;
}

.main-about-us__link--text {
  color: black;
  font-size: 16px;
  font-weight: 400;
}

.main-about-us__link--icon {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid #05569D;
}
.main-about-us__link--icon > span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: none;
}
.main-about-us__link--icon > span:first-child {
  transform: translateX(-100%);
}
.main-about-us__link--icon > span:last-child {
  transform: translateX(0);
}
.main-about-us__link--icon .arrow {
  background-image: url("../img/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  background-size: cover;
  display: block;
  margin: 0 auto;
}

.main-equipment {
  padding: 50px 0 100px;
}

.main-equipment__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.main-equipment__link {
  overflow: hidden;
  position: relative;
  width: 40%;
  border-radius: 10px;
}
.main-equipment__link:after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.2s;
  background-color: #05569D;
  opacity: 0;
}
.main-equipment__link:hover:after {
  opacity: 0.3;
}
.main-equipment__link:hover .main-equipment__link--text {
  transform: translate3d(0, 0, 0);
}
.main-equipment__link:hover .main-equipment__link--img {
  transform: translateY(-18px);
}

.main-equipment__link--img {
  border-radius: 10px;
  transition: all 0.3s ease;
}

.main-equipment__link--text {
  position: absolute;
  background-color: white;
  bottom: 0;
  width: 100%;
  z-index: 1;
  color: black;
  padding: 20px;
  font-size: 14px;
  font-weight: 400;
  transition: transform 0.2s ease-out;
  transform: translate3d(0, 100px, 0);
  border: 1px solid #05569D;
  border-radius: 0 0 10px 10px;
}

.block-left {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 50px 0 90px;
  min-height: 350px;
}

.block-left__img {
  position: absolute;
  width: 75%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.block-left__img img {
  width: 100%;
}

.block-left__content {
  width: 50%;
  background-color: #e5e9eb;
  z-index: 1;
  padding: 30px 30px;
}

.block-left__content--title {
  font-size: 24px;
  font-weight: 600;
  color: #05569D;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.block-left__content--text {
  font-size: 15px;
  font-weight: 400;
  color: black;
  line-height: 1.4;
  margin-bottom: 14px;
}

.block-left__content--info {
  border-left: 3px solid #05569D;
  padding: 10px 20px;
}

.block-left__content--address {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  margin-bottom: 15px;
}

.block-left__content--tel {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  margin-bottom: 15px;
}
.block-left__content--tel a {
  text-decoration: none;
  color: #05569D;
}

.block-left__content--mail {
  font-size: 20px;
  font-weight: 400;
  color: #000;
}
.block-left__content--mail a {
  text-decoration: none;
  color: #05569D;
}

.company-block {
  position: relative;
  width: 100%;
}

.company-block__img {
  width: 65%;
}
.company-block__img img {
  width: 100%;
}

.company-block__content {
  position: absolute;
  right: 100px;
  bottom: -20%;
  background: rgba(238, 238, 238, 0.9);
  padding: 40px;
  width: 50%;
}

.company-block__content--title {
  font-weight: 400;
  font-size: 40px;
  color: #2DAFE5;
  margin-bottom: 30px;
}

.company-block__content--desc {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
  color: #494949;
  margin-bottom: 20px;
}

.company-block__content--info {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
  border-left: 2px solid #2DAFE5;
  color: #2DAFE5;
  padding-left: 30px;
}

.company-title {
  max-width: 1208px;
  text-align: center;
  color: #2DAFE5;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.4;
  margin: 0 auto;
  padding: 170px 0;
}

.company-gray {
  background-color: rgba(229, 229, 229, 0.9);
  padding: 100px 0;
}

.company-white {
  background-color: #fff;
  padding: 100px 0;
}
.company-white .container {
  display: flex;
  justify-content: flex-end;
}

.company-info {
  width: 51%;
}

.company-info--width .company-info__content {
  width: 630px;
}

.company-info__title {
  color: #2DAFE5;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 40px;
}

.company-info__content {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: #494949;
}
.company-info__content p:first-child {
  margin-bottom: 60px;
}
.company-info__content p:first-child.product-p {
  margin-bottom: 40px;
}
.company-info__content .border {
  border-left: 2px solid #2DAFE5;
  color: #2DAFE5;
  padding-left: 30px;
}

.product-block {
  position: relative;
  width: 100%;
}

.product-block--right {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  margin-bottom: 20px;
}
.product-block--right .product-block__content {
  left: 100px;
  right: auto;
}

.product-block__img {
  width: 65%;
}
.product-block__img img {
  width: 100%;
}

.product-block__content {
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
}

.product-block__content--wrapper {
  padding: 40px 40px 20px;
  background: rgba(238, 238, 238, 0.9);
}

.product-block__content--title, .product-info__content--title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  color: #2DAFE5;
  margin-bottom: 35px;
}

.product-info__content--title {
  color: #2DAFE5;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.4;
}

.product-block__content--text, .product-info__content--text {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
  color: #494949;
  margin-bottom: 18px;
}

.product-info__content--text p {
  margin-bottom: 20px;
}
.product-info__content--text p.border {
  border-left: 2px solid #2DAFE5;
  color: #2DAFE5;
  padding-left: 30px;
  margin-bottom: 40px;
}
.product-info__content--text ul {
  list-style: disc;
  padding-left: 30px;
  margin-bottom: 20px;
}

.product-info__content--list {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
  color: #494949;
  margin-bottom: 50px;
  list-style: disc;
  padding-left: 55px;
}
.product-info__content--list.product-info__content--list-drilling {
  margin-bottom: 300px;
}

.product-btn-show {
  font-size: 18px;
  line-height: 1.4;
  text-decoration: none;
  color: #2DAFE5;
  display: inline-block;
  cursor: pointer;
}
.product-btn-show .show {
  display: block;
}
.product-btn-show .hide {
  display: none;
}
.product-btn-show.active .show {
  display: none;
}
.product-btn-show.active .hide {
  display: block;
}

.product-nomenclature {
  width: 100%;
  padding: 80px 0 120px 140px;
  display: none;
  justify-content: space-between;
  align-items: center;
}
.product-nomenclature.active {
  display: flex;
}

.product-nomenclature__content {
  width: 58%;
}

.product-nomenclature__img {
  width: 42%;
  text-align: center;
}
.product-nomenclature__img img {
  width: 70%;
}

.product-nomenclature--title {
  font-weight: 300;
  font-size: 45px;
  color: #2DAFE5;
  margin-bottom: 15px;
}

.product-nomenclature--desc {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
  color: #494949;
  margin-bottom: 20px;
}

.product-nomenclature--list {
  list-style: disc;
  padding-left: 30px;
  margin-bottom: 50px;
}
.product-nomenclature--list li {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
  color: #494949;
  margin-bottom: 5px;
}

.product-info__content--desc {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
  border-left: 2px solid #2DAFE5;
  color: #2DAFE5;
  padding-left: 30px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.product-link-pdf {
  text-decoration: none;
  text-align: center;
  background: #18A0FB;
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: white;
  padding: 15px;
  display: block;
}
.product-link-pdf:hover {
  background: #05569D;
}

.product-info {
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px 0 60px;
  display: none;
}
.product-info.active {
  display: flex;
}

.product-info--pad {
  padding-top: 0;
}

.product-info--center {
  align-items: center;
}
.product-info--center .product-info__image {
  width: 45%;
  text-align: center;
}
.product-info--center .product-info__image img {
  width: 100%;
}
.product-info--center .product-info__content {
  width: 55%;
  margin-right: 100px;
  padding-left: 40px;
  padding-right: 40px;
}

.product-info__img {
  width: 470px;
  text-align: center;
  padding-right: 80px;
}
.product-info__img img {
  width: 100%;
}
.product-info__img--drilling {
  padding-right: 150px;
}

.product-info__content {
  flex: 1;
  padding-top: 100px;
  background-color: #fff;
  margin-right: 255px;
  padding-left: 120px;
}

.company-footer, .product-footer, .equipment-footer {
  width: 100%;
  margin-bottom: -4px;
}
.company-footer img, .product-footer img, .equipment-footer img {
  width: 100%;
}

.main-partners {
  background-color: #F5F5F5;
}

.main-partners__wrapper {
  padding: 50px 0 80px 0;
}

.main-partners__title {
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 80px;
}

.main-partners__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-partners__img {
  margin-right: 80px;
}
.main-partners__img:last-child {
  margin-right: 0;
}
.main-partners__img img {
  width: 100%;
}

@media all and (max-width: 1240px) {
  .product-info__img img {
    width: 100%;
    max-width: initial;
  }
  .company-info--width .company-info__content {
    width: 100%;
  }
  .product-info__content {
    margin-right: 0;
  }
  .product-info__content--list.product-info__content--list-drilling {
    margin-bottom: 180px;
  }
}
@media all and (max-width: 1200px) {
  .block-left {
    margin: 50px 0 50px;
  }
}
@media all and (max-width: 1024px) {
  .header {
    height: 56px;
    background-color: #18275D;
  }
  .header:before {
    display: none;
  }
  .header .header-wrapper__logo--bg {
    height: 21px;
    background-image: url("../img/logo.svg");
  }
  .menu-desktop__list {
    margin-inline-end: 20px;
  }
  .menu-desktop__link {
    font-size: 14px;
  }
  .main-about-us__desc {
    width: 100%;
  }
  .main-m-t {
    margin-top: 56px;
  }
  .company-block__content--title, .product-block__content--title, .product-info__content--title {
    font-size: 34px;
  }
  .company-block__content, .product-block__content--wrapper {
    padding: 30px 14px;
  }
  .product-info__content {
    padding-left: 14px;
    padding-right: 14px;
  }
}
@media all and (max-width: 980px) {
  .container {
    padding: 0 14px;
  }
  .header-wrapper__menu-desktop {
    display: none;
  }
  .menu-mobile-btn {
    display: block;
  }
  .footer-wrapper {
    display: flex;
    flex-flow: column;
    padding: 30px 0;
  }
  .footer-wrapper__logo {
    position: relative;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .footer-wrapper__content {
    text-align: left;
  }
  .footer-wrapper__content--text {
    text-align: left;
  }
  .footer-wrapper__menu {
    margin-bottom: 20px;
  }
  .footer-wrapper__content {
    flex-flow: column;
  }
  .footer-wrapper__content--left {
    width: 100%;
    margin-bottom: 40px;
  }
  .footer-wrapper__content--right {
    width: 100%;
  }
  .contacts-wrapper {
    flex-flow: column;
  }
  .contacts-content {
    width: 100%;
  }
  .main-equipment {
    padding: 24px 0 30px;
  }
  .main-equipment__wrapper {
    display: flex;
    flex-flow: column;
  }
  .main-equipment__link {
    width: 100%;
    margin-bottom: 40px;
  }
  .main-equipment__link:after {
    opacity: 0.3;
  }
  .main-equipment__link .main-equipment__link--text {
    transform: translate3d(0, 0, 0);
  }
  .main-equipment__link .main-equipment__link--img {
    transform: translateY(-18px);
  }
  .swiper-slide__title {
    font-size: 40px;
    margin-bottom: 60px;
    padding-left: 0;
  }
  .swiper-slide__des {
    font-size: 24px;
  }
  .swiper-slide__des span {
    width: 28px;
    height: 22px;
  }
  .contacts-map {
    width: 100%;
  }
  .main-unit__bg {
    background-position: center;
  }
  .main-about-us__wrapper {
    flex-flow: column;
  }
  .main-about-us__wrapper--img {
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
  }
  .main-about-us__wrapper--content {
    width: 100%;
    padding: 0;
  }
  .block-left {
    min-height: auto;
    margin: 0;
    display: block;
  }
  .block-left__img {
    position: relative;
    width: 100%;
    left: initial;
    top: initial;
    transform: translateY(0);
  }
  .block-left__content {
    width: 100%;
    margin-top: -5px;
  }
  .main-about-us__wrapper--content h2 {
    margin-bottom: 40px;
  }
  .main-about-us__desc-content {
    margin-bottom: 40px;
  }
  .main-about-us {
    padding: 60px 0;
  }
  .contacts-block {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .contacts-block__img, .company-block__img, .product-block__img {
    width: 100%;
  }
  .contacts-block__content, .company-block__content {
    position: relative;
    bottom: initial;
    right: initial;
    width: 100%;
    padding: 30px 14px;
    margin-top: -80px;
    transform: translateY(0);
  }
  .product-block__content {
    position: relative;
    bottom: initial;
    right: initial;
    top: initial;
    width: 100%;
    margin-top: -80px;
    transform: translateY(0);
  }
  .contacts-block__content--title {
    font-size: 34px;
  }
  .company-title {
    font-size: 24px;
    padding: 50px 0;
  }
  .company-gray, .company-white {
    padding: 50px 0;
  }
  .company-info {
    width: 100%;
  }
  .company-info__title {
    font-size: 35px;
    margin-bottom: 30px;
  }
  .company-info__content {
    font-size: 20px;
  }
  .company-info__content p:first-child {
    margin-bottom: 30px;
  }
  .product-info {
    padding: 40px 0;
    flex-flow: column;
  }
  .product-info__img {
    width: 300px;
    padding-right: 0;
    margin: 0 auto 20px auto;
  }
  .product-info__content {
    width: 100%;
    margin-right: 0;
    padding-top: 10px;
  }
  .product-block--right {
    display: block;
  }
  .product-block--right .product-block__content {
    right: initial;
    left: initial;
  }
  .product-info__content--list.product-info__content--list-drilling {
    margin-bottom: 50px;
  }
  .product-link-pdf {
    width: 100%;
    margin: 0;
  }
  .product-info__content--text, .product-info__content--desc {
    margin-right: 0;
  }
  .product-nomenclature--title {
    font-size: 34px;
  }
  .footer-wrapper__content--social-network {
    position: relative;
    left: auto;
    top: auto;
    margin-bottom: 20px;
  }
  .main-partners__wrapper {
    padding-bottom: 10px;
  }
  .main-partners__title {
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 50px;
  }
  .main-partners__list {
    flex-flow: column;
  }
  .main-partners__img {
    margin-right: 0;
    margin-bottom: 60px;
    text-align: center;
  }
  .main-partners__img img {
    width: 50%;
    margin: 0 auto;
  }
  .swiper-slide {
    justify-content: center;
  }
  .product-nomenclature__content {
    width: 100%;
  }
  .product-nomenclature__img {
    display: none;
  }
  .main-about-us__title {
    font-size: 30px;
    line-height: 45px;
  }
  .main-about-us__content {
    margin-top: 0;
    flex-flow: column;
  }
  .main-about-us__a {
    margin-top: 30px;
  }
  .main-about-us__content--img {
    width: 100%;
    margin-top: 40px;
  }
  .product-info--center .product-info__image {
    width: 100%;
  }
  .product-info--center .product-info__content {
    width: 100%;
    margin-right: 0;
    padding-right: 14px;
    padding-left: 14px;
    padding-top: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
